@model IEnumerable<DataPribadiNetCoreMVC.Models.Employee>

@{
    ViewData["Title"] = "Employee";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateEmp">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDb.Nik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle.JobTitle1)
            </td>
            <td>
                <a asp-action="EditEmp" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="DetailsEmp" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="DeleteEmp" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
